{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">


<!--    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">-->


</head>
<body>



<form method="POST">
    <div class="container">
        <div class="jumbotron">

        <h1><center>Welcome to the Signup Page</center></h1>
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" class="btn btn-primary" value="Register"/>

        </div>
    </div>

</form>

<img src="{% static 'img/a.jpeg' %}"/>
</body>
</html>

